/*复位样式*/
* {
  margin: 0;
  padding: 0;
  list-style: none;
}
/*公共样式*/
img {
  vertical-align: middle;
}
a {
  text-decoration: none;
}
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
}
.container {
  width: 1150px;
  margin: auto;
  text-align: center;
}
.main {
  background: #f8f8f8;
  overflow: hidden;
}
.main .title {
  text-align: center;
}
.main .title h1 {
  font-size: 30px;
  line-height: 140px;
  font-weight: bold;
}
.main .title h1 strong {
  color: #e63735;
}
.main .title p {
  margin-top: 15px;
  font-size: 14px;
  line-height: 26px;
}
/*页面样式*/
/*导航start*/
.nav {
  width: 100%;
  height: 80px;
  background: #e63735;
}
.nav .container {
  overflow: hidden;
}
.nav .container .logo {
  float: left;
  margin-top: 15px;
}
.nav .container .list {
  float: right;
  margin-top: 25px;
}
.nav .container .list li {
  float: left;
  margin: 15px;
}
.nav .container .list li a {
  color: #fff;
  font-size: 18px;
}
.nav .container .list .cur a {
  color: #ffab8a;
}
/*导航end*/
/*第一屏样式*/
.page01 {
  height: 550px;
  background: url("../images/banner-index.jpg") no-repeat;
  background-size: 100%;
  text-align: center;
  overflow: hidden;
  position: relative;
}
.page01 h1 {
  width: 300px;
  height: 80px;
  border: 5px solid #fff;
  margin: 80px auto 50px;
  color: #fff;
  line-height: 80px;
  font-size: 45px;
  font-weight: normal;
}
.page01 .banner {
  width: 100%;
  height: 180px;
  background: rgba(0, 0, 0, 0.3);
}
.page01 .banner li p {
  font-size: 45px;
  color: #fff;
  line-height: 180px;
  font-style: italic;
  font-weight: 700;
}
.page01 .banner li p b {
  color: #e63735;
}
.page01 ol {
  position: absolute;
  left: 50%;
  top: 370px;
  margin-left: -35px;
}
.page01 ol li {
  float: left;
  width: 12px;
  height: 12px;
  background: #eeeeee;
  margin-left: 10px;
  border-radius: 50%;
}
.page01 ol li span {
  width: 6px;
  height: 6px;
  background: #fff;
  border-radius: 50%;
  display: block;
  margin: 3px auto;
}
.page01 ol li .cur {
  background: #222222;
}
/*第二屏样式*/
.page02 {
  background: #f8f8f8;
}
.page02 .container {
  overflow: hidden;
}
.page02 .container .left {
  float: left;
  text-align: left;
  margin-top: 40px;
}
.page02 .container .left h2 {
  font-weight: normal;
  font-size: 28px;
}
.page02 .container .left p {
  font-size: 16px;
  margin: 10px 0 30px 0;
}
.page02 .container .right {
  float: right;
  width: 150px;
  height: 40px;
  background: #e63735;
  margin: 40px;
  line-height: 40px;
  color: #fff;
  cursor: pointer;
  border-radius: 8px;
}
/*第三屏样式,第六屏样式*/
.page03,
.page06 {
  background: #fff;
}
.page03 .container,
.page06 .container {
  margin-bottom: 60px;
}
.page03 .container .title h1,
.page06 .container .title h1 {
  margin-top: 25px;
  line-height: 50px;
}
.page03 .container .list,
.page06 .container .list {
  overflow: hidden;
  width: 100%;
  margin-top: 50px;
}
.page03 .container .list li,
.page06 .container .list li {
  float: left;
  width: 25%;
}
.page03 .container .list li h3,
.page06 .container .list li h3 {
  margin: 30px 0;
  font-size: 20px;
}
.page03 .container .list li p,
.page06 .container .list li p {
  padding: 0 15px;
  line-height: 24px;
  font-size: 14px;
}
/*第四屏样式*/
.page04 .advantage {
  width: 100%;
  overflow: hidden;
}
.page04 .advantage li {
  float: left;
  width: 16.66%;
  color: #fff;
  height: 224px;
}
.page04 .advantage li img {
  width: 100%;
}
.page04 .advantage li h4 {
  font-size: 18px;
  margin: 20px 0 10px 10px;
}
.page04 .advantage li p {
  margin: 0 10px;
  font-size: 15px;
  line-height: 22px;
}
.page04 .advantage .brand {
  background: #ce2121;
}
.page04 .advantage .brand h4 {
  margin-top: 40px;
}
.page04 .advantage .skill {
  background: #fd7373;
}
.page04 .advantage .skill h4 {
  margin-top: 40px;
}
.page04 .advantage .view {
  background: #f13434;
}
.page04 .advantage .view h4 {
  margin-top: 60px;
}
.page04 .advantage .project {
  background: #ff9494;
}
.page04 .advantage .project h4 {
  margin-top: 20px;
}
.page04 .advantage .case {
  background: #ff9494;
}
.page04 .advantage .case h4 {
  margin-top: 60px;
}
/*第五屏样式*/
.page05 .container {
  width: 100%;
  height: 600px;
  overflow: hidden;
  background: url("../images/banner-service.jpg") no-repeat;
}
.page05 .container .left {
  float: left;
  width: 50%;
  margin-top: 160px;
}
.page05 .container .right {
  float: left;
  width: 50%;
  color: #fff;
  text-align: left;
}
.page05 .container .right h4 {
  font-size: 18px;
  line-height: 24px;
  margin-top: 100px;
  margin-bottom: 10px;
  font-weight: 500;
}
.page05 .container .right ul li {
  margin-top: 35px;
  overflow: hidden;
}
.page05 .container .right ul li img {
  float: left;
}
.page05 .container .right ul li .content {
  float: left;
  margin-left: 15px;
  margin-top: 10px;
}
.page05 .container .right ul li .content h6 {
  font-size: 15px;
}
.page05 .container .right ul li .content p {
  font-size: 14px;
  line-height: 20px;
}
/*第七屏样式*/
.page07 .container {
  width: 100%;
  height: 555px;
  background: url("../images/banner-team.jpg") no-repeat;
}
.page07 .container h1 {
  color: #fff;
  font-weight: normal;
  line-height: 555px;
}
/*第八屏样式*/
.page08 .back {
  width: 100%;
  height: 550px;
  background: url("../images/banner-client.jpg") no-repeat;
}
.page08 .back .container {
  color: #fff;
  overflow: hidden;
}
.page08 .back .container .note {
  margin: 40px auto 0;
  line-height: 24px;
  font-size: 14px;
}
.page08 .back .container .content li {
  float: left;
  width: 25%;
  height: 200px;
}
.page08 .back .container .content li h4 {
  margin-top: 25px;
  line-height: 150px;
  font-size: 24px;
}
.page08 .back .container .content li p {
  font-size: 15px;
}
.page08 .back .container .content .area01 {
  background: url("../images/bg-client1.png") no-repeat center;
}
.page08 .back .container .content .area02 {
  background: url("../images/bg-client2.png") no-repeat center;
}
.page08 .back .container .content .area03 {
  background: url("../images/bg-client3.png") no-repeat center;
}
.page08 .back .container .content .area04 {
  background: url("../images/bg-client4.png") no-repeat center;
}
.page08 .back .container .content .area05 {
  background: url("../images/bg-client5.png") no-repeat center;
}
.page08 .back .container .content .area06 {
  background: url("../images/bg-client6.png") no-repeat center;
}
.page08 .back .container .content .area07 {
  background: url("../images/bg-client7.png") no-repeat center;
}
.page08 .back .container .content .area08 {
  background: url("../images/bg-client8.png") no-repeat center;
}
/*第九屏样式*/
.page09 {
  background: #fff;
}
.page09 .container .text {
  overflow: hidden;
  margin: 30px 0;
}
.page09 .container .text .left {
  float: left;
  width: 550px;
}
.page09 .container .text .left .item {
  margin: 10px;
}
.page09 .container .text .left .item input {
  padding: 10px 12px;
  width: 100%;
  height: 42px;
  line-height: 20px;
  font-size: 16px;
  border: 1px solid #DDD;
  border-radius: 5px;
  box-sizing: border-box;
}
.page09 .container .text .right {
  float: right;
  width: 550px;
  margin-top: 10px;
}
.page09 .container .text .right textarea {
  width: 100%;
  height: 142px;
  padding: 12px;
  font-size: 14px;
  line-height: 20px;
  border: 1px solid #DDD;
  border-radius: 5px;
  box-sizing: border-box;
}
.page09 .container .text .right input {
  margin-top: 10px;
  width: 100%;
  height: 40px;
  border: 0;
  border-radius: 5px;
  background: url("../images/mail.png") no-repeat 50% 50% #e63735;
}
